<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Payments List</h2>
      
    </div>
    <table>
      <thead>
        <tr>
          <td class="adminUserData">Email</td>
          <td class="adminUserData">Name</td>
          <td class="adminUserData">Amount</td>
          <td class="adminUserData"></td>
          <td class="adminUserData"></td>
        </tr>
      </thead>
      <tbody>
        {{#each payment}}
          {{#with this}}
            <tr>
              <td class="adminUserData">{{email}}</td>
              <td class="adminUserData">{{fullName}}</td>
              <td class="adminUserData">{{amount}}</td>
              <td class="adminUserData"><a href="/admin/payment/{{_id}}">View<i
                    class="fas fa-eye"
                  ></i></a></td>
              <td class="adminUserData"><a
                  href="/admin/payment/delete/{{_id}}"
                  type="button"
                ><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          {{/with}}
        {{/each}}
      </tbody>
    </table>
  </div>
  
</div>