<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Message List</h2>
   
    </div>
    <table class="adminContactTable">
      <thead>
        <tr>
          <td class="adminContactData">Name</td>
          <td class="adminContactData">Image Link</td>
          <td class="adminContactData">Price</td>
          <td class="adminContactData">Discount</td>
        </tr>
      </thead>
      <tbody>
        {{#each product}}
          {{#with this}}
            <tr>
              <td class="adminContactData">{{name}}</td>
              <td class="adminContactData">{{imageLink}}</td>
              <td class="adminContactData">{{price}}</td>
              <td class="adminContactData">{{discount}}%</td>
              {{!-- <td class="adminContactData"><a href="/admin/contactMessage/{{_id}}">View<i class="fas fa-eye"></i></a></td> --}}
              <td class="adminContactData"><a
                  href="/product/delete/{{_id}}"
                  type="button"
                ><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          {{/with}}
        {{/each}}
      </tbody>
    </table>
  </div>
  
</div>