<!DOCTYPE html>
<html lang="zxx">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
	<title>Review</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">

	<link href="/css46/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/css46/shop.css" type="text/css" />
	<link href="/css46/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link
		href="http://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
		rel="stylesheet">
</head>

<body>





	<meta name="robots" content="noindex">

	<body>

		<!-- banner -->
		<div class="banner_inner ">
			<div class="services-breadcrumb">
				<div class="inner_breadcrumb">

					<ul>
						<li>
							<h2 class="header"><a style="color:#ff4e00;" href="/">Home Page/</a>All of our Reviews</h2>
						</li>
						<li></li>
					</ul>

				</div>
			</div>

		</div>
		<!--//banner -->
		</div>

		<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
			<div class="container-fluid">

				<div class="row">
					<div class="col-md-4">
						<h2 class="text-center postReview">Post a Review</h2>

						<form class="p-2" method="POST" action="/review" enctype="multipart/form-data">
							<div class="form-group">
								<label for=""><b>Name</b></label>
								<input name="name" type="text" class="form-control" id="exampleFormControlInput1"
									placeholder="Enter name">
								<br>
								<label for=""><b>Upload Your Photo</b></label><br> <input name="photos" type="file">
							</div>

							<div class="form-group">
								<label for="exampleFormControlInput1"><b>Email Address</b></label>
								<input name="email" type="email" class="form-control" id="exampleFormControlInput1"
									placeholder="name@example.com">
							</div>



							<div class="form-group">
								<label for="exampleFormControlSelect1"><b>Select Place</b></label>
								<select name="place" class="form-control" id="exampleFormControlSelect1">
									<option value="Cox Bazar">Cox Bazar</option>
									<option value="Sundarban">Sundarban</option>
									<option value="Kaptai">Kaptai</option>
									<option value="Rangamati">Rangamati</option>
									<option value="Bandarban">Bandarban</option>
								</select>
							</div>

							<div class="form-group">
								{{!-- <label for=""><b>Add New Place</b></label> --}}

								<div class="row">
									<div class="col-8">
										{{!-- <input name="newPlace" type="text" class="form-control"
											id="exampleFormControlInput1" placeholder="New place name"> <br> --}}
										<label for=""><b>Place's Photo</b></label> <input name="photos"
											type="file">
									</div>
									<div class="col-4">
										<i class="fas fa-plus mt-2"></i>
									</div>
								</div>



							</div>

							<div class="form-group">
								<label for="exampleFormControlTextarea1"><b>Write Review</b></label>
								<textarea name="reviewMessage" class="form-control" id="exampleFormControlTextarea1"
									rows="3"></textarea>
							</div>

							<div class="form-group">
								<label for=""><b>Facebook Link</b></label>
								<input name="fbLink" type="text" class="form-control" id="exampleFormControlInput1"
									placeholder="Enter your Facebook link">
							</div>

							<div class="form-group">
								<label for=""><b>Twitter Link</b></label>
								<input name="twitterLink" type="text" class="form-control" id="exampleFormControlInput1"
									placeholder="Enter your Twitter link">
							</div>

							<button class="btn btn-danger">
								Reset
							</button>
							<button class="btn btn-success float-right">
								Submit
							</button>
						</form>
					</div>

					<div class="col-md-8" style="    background-color: #fff;
					color: #888;
					padding: 10px;
					border: 1px solid #DBDBDB;
					border-radius: 0px;
					box-shadow: 0 0 8px #dbdbdb;">
						<div class="inner-sec-shop px-lg-4 px-3">
							<!---728x90--->
							<div class="row">
                                   {{#each reviews}}
								   {{#with this}}
                                   <div class="col-lg-4 customer-main">
									<div class="card">
										<div class="card-body">
											<div class="customer-img mb-2">
												<img src={{locationPhotoPath}} alt=" " class="img-fluid rounded"
													style="height: 190px;">
											</div>
											<div class="customer-info text-left mt-2">

												<p class="placeName mb-3">{{place}}r</p>
												<div class="customerWrapper border-top mb-20" style="display:block">
													<img src={{userPhotoPath}}
														style="width:45px;display:block;float:left;" alt=" "
														class="img-fluid rounded">
													<p class="placeName my-2" style="display:block;">{{name}}</p>
												</div>
												<div class="information" style="display:block;overflow:hidden">
													<h6 style="text-align: justify;height: 119px;"> {{reviewMessage}} 
													</h6>
												</div>
												<a href="/details/{{_id}}" class="btn btn-primary mt-2 ml-6">View</a>

												<div class="row  pt-3 mt-3 team-social border-top">

													<ul class="col-md-12 d-flex justify-content-right social-icons">


														<li>
															<a href={{fbLink}}>
																<i class="fab fa-facebook-f"></i>
															</a>
														</li>
														<li class="mx-sm-3 mx-md-3">
															<a href={{twitterLink}}>
																<i class="fab fa-twitter"></i>
															</a>
														</li>
													

													</ul>
												</div>



											</div>
										</div>
									</div>
								</div>
								{{/with}}
                                {{/each}} 


								{{!-- <div class="col-lg-4 customer-main">
									<div class="card">
										<div class="card-body">
											<div class="customer-img mb-2">
												<img src="/images46/cox1.jfif" alt=" " class="img-fluid rounded"
													style="height: 190px;">
											</div>
											<div class="customer-info text-left mt-2">

												<p class="placeName mb-3">Place:Cox Bazar</p>
												<div class="customerWrapper border-top mb-20" style="display:block">
													<img src="/images46/team1.jpg"
														style="width:45px;display:block;float:left;" alt=" "
														class="img-fluid rounded">
													<p class="placeName my-2" style="display:block;">Moinur Rahman</p>
												</div>
												<div class="information" style="display:block;overflow:hidden">
													<h6 style="text-align: justify;height: 119px;"> Surfing Cox's Bazar
														town though a small one, yet the same is a town of heritage. The
														sailor 'Captain Cox' explored the locality to name it on his own
														name. The local people both domiciled Burmese and Chittagonian
														lives in harmony. The major people are moderate Muslims but
														'Buddhists' also live there. Be aware that at the local Buddhist
														temple, local non-Buddhist Bangladeshis will follow you around
														giving you a 'tour,' then demand money. This money of course
														goes in their pocket and not to the temple in any way.
														Sunset at Cox's Bazar
														Miles of golden sand, towering cliffs, surfing waves, colorful
														pagodas, Buddhist temples and tribes, delightful seafood — this
														is Cox's Bazar, the tourist capital of Bangladesh. Visit [9]to
														know details.
													</h6>
												</div>
												<a href="Details.html" class="btn btn-primary mt-2 ml-6">View</a>

												<div class="row  pt-3 mt-3 team-social border-top">

													<ul class="col-md-12 d-flex justify-content-right social-icons">


														<li>
															<a href="#">
																<i class="fab fa-facebook-f"></i>
															</a>
														</li>
														<li class="mx-sm-3 mx-md-3">
															<a href="#">
																<i class="fab fa-twitter"></i>
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fab fa-google-plus-g"></i>
															</a>
														</li>

													</ul>
												</div>



											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4 customer-main">
									<div class="card">
										<div class="card-body">
											<div class="customer-img mb-2">
												<img src="/images46/cox2.jfif" alt=" " class="img-fluid rounded"
													style="height: 190px;">
											</div>
											<div class="customer-info text-left ">

												<p class="placeName mb-3">Place:Cox Bazar</p>
												<div class="customerWrapper border-top mb-20" style="display:block">
													<img src="/images46/team2.jpg"
														style="width:45px;display:block;float:left;" alt=" "
														class="img-fluid rounded">
													<p class="placeName my-2" style="display:block;">Aman Ullah</p>
												</div>
												<div class="information" style="display:block;overflow:hidden">
													<h6 style="text-align: justify;height: 119px;"> Surfing Cox's Bazar
														town though a small one, yet the same is a town of heritage. The
														sailor 'Captain Cox' explored the locality to name it on his own
														name. The local people both domiciled Burmese and Chittagonian
														lives in harmony. The major people are moderate Muslims but
														'Buddhists' also live there. Be aware that at the local Buddhist
														temple, local non-Buddhist Bangladeshis will follow you around
														giving you a 'tour,' then demand money. This money of course
														goes in their pocket and not to the temple in any way.
														Sunset at Cox's Bazar
														Miles of golden sand, towering cliffs, surfing waves, colorful
														pagodas, Buddhist temples and tribes, delightful seafood — this
														is Cox's Bazar, the tourist capital of Bangladesh. Visit [9]to
														know details.
													</h6>
												</div>
												<a href="Details.html" class="btn btn-primary mt-2 ml-6">View</a>

												<div class="row  pt-3 mt-3 team-social border-top">

													<ul class="col-md-12 d-flex justify-content-right social-icons">


														<li>
															<a href="#">
																<i class="fab fa-facebook-f"></i>
															</a>
														</li>
														<li class="mx-sm-3 mx-md-3">
															<a href="#">
																<i class="fab fa-twitter"></i>
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fab fa-google-plus-g"></i>
															</a>
														</li>

													</ul>
												</div>



											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4 customer-main">
									<div class="card">
										<div class="card-body">
											<div class="customer-img mb-2">
												<img src="/images46/shundarban.jfif" alt=" " class="img-fluid rounded"
													style="height: 190px;">
											</div>
											<div class="customer-info text-left ">

												<p class="placeName mb-3">Place:Shundarban</p>
												<div class="customerWrapper border-top mb-20" style="display:block">
													<img src="/images46/team3.jpg"
														style="width:45px;display:block;float:left;" alt=" "
														class="img-fluid rounded">
													<p class="placeName my-2" style="display:block;">Amina Begum</p>
												</div>
												<div class="information" style="display:block;overflow:hidden">
													<h6 style="text-align: justify;height: 119px;"> Sundarbans is a
														mangrove area in the delta formed by the confluence of the
														Ganges, Brahmaputra and Meghna Rivers in the Bay of Bengal. It
														spans from the Hooghly River in India's state of West Bengal to
														the Baleswar River in Bangladesh's division of Khulna. It
														comprises closed and open mangrove forests, land used for
														agricultural purpose, mudflats and barren land, and is
														intersected by multiple tidal streams and channels. Four
														protected areas in the Sundarbans are enlisted as UNESCO World
														Heritage Sites, viz. Sundarbans National Park, Sundarbans West,
														Sundarbans South and Sundarbans East Wildlife Sanctuaries.[3]
														Despite these protections, the Indian Sundarbans were considered
														endangered in a 2020 assessment under the IUCN Red List of
														Ecosystems framework.[4] The Sundarbans mangrove forest covers
														an area of about 10,000 km2 (3,900 sq mi), of which forests in
														Bangladesh's Khulna Division extend over 6,017 km2 (2,323 sq mi)
														and in West Bengal, they extend over 4,260 km2 (1,640 sq mi)
														across the South 24 Parganas and North 24 Parganas districts.[5]
														The most abundant tree species are sundri (Heritiera fomes) and
														gewa (Excoecaria agallocha). The forests provide habitat to 453
														fauna wildlife, including 290 bird, 120 fish, 42 mammal, 35
														reptile and eight amphibian species.[6]
													</h6>
												</div>
												<a href="Details.html" class="btn btn-primary mt-2 ml-6">View</a>

												<div class="row  pt-3 mt-3 team-social border-top">

													<ul class="col-md-12 d-flex justify-content-right social-icons">


														<li>
															<a href="#">
																<i class="fab fa-facebook-f"></i>
															</a>
														</li>
														<li class="mx-sm-3 mx-md-3">
															<a href="#">
																<i class="fab fa-twitter"></i>
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fab fa-google-plus-g"></i>
															</a>
														</li>

													</ul>
												</div>



											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4 customer-main">
									<div class="card">
										<div class="card-body">
											<div class="customer-img mb-2">
												<img src="/images46/shundarban2.jpg" alt=" " class="img-fluid rounded"
													style="height: 190px;">
											</div>
											<div class="customer-info text-left ">

												<p class="placeName mb-3">Place:Shundarban</p>
												<div class="customerWrapper border-top mb-20" style="display:block">
													<img src="/images46/team4.jpg"
														style="width:45px;display:block;float:left;" alt=" "
														class="img-fluid rounded">
													<p class="placeName my-2" style="display:block;">Shihab Shakib</p>
												</div>
												<div class="information" style="display:block;overflow:hidden">
													<h6 style="text-align: justify;height: 119px;"> Sundarbans is a
														mangrove area in the delta formed by the confluence of the
														Ganges, Brahmaputra and Meghna Rivers in the Bay of Bengal. It
														spans from the Hooghly River in India's state of West Bengal to
														the Baleswar River in Bangladesh's division of Khulna. It
														comprises closed and open mangrove forests, land used for
														agricultural purpose, mudflats and barren land, and is
														intersected by multiple tidal streams and channels. Four
														protected areas in the Sundarbans are enlisted as UNESCO World
														Heritage Sites, viz. Sundarbans National Park, Sundarbans West,
														Sundarbans South and Sundarbans East Wildlife Sanctuaries.[3]
														Despite these protections, the Indian Sundarbans were considered
														endangered in a 2020 assessment under the IUCN Red List of
														Ecosystems framework.[4] The Sundarbans mangrove forest covers
														an area of about 10,000 km2 (3,900 sq mi), of which forests in
														Bangladesh's Khulna Division extend over 6,017 km2 (2,323 sq mi)
														and in West Bengal, they extend over 4,260 km2 (1,640 sq mi)
														across the South 24 Parganas and North 24 Parganas districts.[5]
														The most abundant tree species are sundri (Heritiera fomes) and
														gewa (Excoecaria agallocha). The forests provide habitat to 453
														fauna wildlife, including 290 bird, 120 fish, 42 mammal, 35
														reptile and eight amphibian species.[6]
													</h6>
												</div>
												<a href="Details.html" class="btn btn-primary mt-2 ml-6">View</a>

												<div class="row  pt-3 mt-3 team-social border-top">

													<ul class="col-md-12 d-flex justify-content-right social-icons">


														<li>
															<a href="#">
																<i class="fab fa-facebook-f"></i>
															</a>
														</li>
														<li class="mx-sm-3 mx-md-3">
															<a href="#">
																<i class="fab fa-twitter"></i>
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fab fa-google-plus-g"></i>
															</a>
														</li>

													</ul>
												</div>
 --}}
{{!-- 

											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4 customer-main">
									<div class="card">
										<div class="card-body">
											<div class="customer-img mb-2">
												<img src="/images46/kaptai.jpg" alt=" " class="img-fluid rounded"
													style="height: 190px;">
											</div>
											<div class="customer-info text-left ">

												<p class="placeName mb-3">Place:Kaptai Lake</p>
												<div class="customerWrapper border-top mb-20" style="display:block">
													<img src="/images46/team5.jpg"
														style="width:45px;display:block;float:left;" alt=" "
														class="img-fluid rounded">
													<p class="placeName my-2" style="display:block;">Rizuan Robin</p>
												</div>
												<div class="information" style="display:block;overflow:hidden">
													<h6 style="text-align: justify;height: 119px;"> Construction of the
														reservoir for the hydro-electric plant began in 1956 by the
														Government of East Pakistan.[2] As a result, 54,000 acres (220
														km2) of farmland in the Rangamati District went underwater and
														created the lake. The hydro-electric project was funded by the
														United States. The project was finished in 1962. International
														Engineering Company and Utah International Inc. received the
														contract for construction of the dam. The dam is 670.8 meters
														long, and 54.7 meters high. The dam has a 745 feet (227 m) long
														spillway containing 16 gates. Through the spillway 5,250,000 cu
														ft/s (149,000 m3/s) of water can pass.

														The land that went underwater as a result of the dam
														construction, was 40% of the total arable land in the area.
														Along with that, 29 square miles (75 km2) of the
														Government-owned forest, and 234 square miles (610 km2) of other
														forest land went underwater. About 18,000 families with a total
														of almost 100 thousand people were also displaced. The palace of
														the king of the Chakmas was also flooded and is now
														underwater.[2]
													</h6>
												</div>
												<a href="Details.html" class="btn btn-primary mt-2 ml-6">View</a>

												<div class="row  pt-3 mt-3 team-social border-top">

													<ul class="col-md-12 d-flex justify-content-right social-icons">


														<li>
															<a href="#">
																<i class="fab fa-facebook-f"></i>
															</a>
														</li>
														<li class="mx-sm-3 mx-md-3">
															<a href="#">
																<i class="fab fa-twitter"></i>
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fab fa-google-plus-g"></i>
															</a>
														</li>

													</ul>
												</div>



											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4 customer-main">
									<div class="card">
										<div class="card-body">
											<div class="customer-img mb-2">
												<img src="/images46/Rangamati.jpg" alt=" " class="img-fluid rounded"
													style="height: 190px;">
											</div>
											<div class="customer-info text-left ">

												<p class="placeName mb-3">Place:Rangamati</p>
												<div class="customerWrapper border-top mb-20" style="display:block">
													<img src="/images46/team6.jpg"
														style="width:45px;display:block;float:left;" alt=" "
														class="img-fluid rounded">
													<p class="placeName my-2" style="display:block;">Forkan Uddin</p>
												</div>
												<div class="information" style="display:block;overflow:hidden">
													<h6 style="text-align: justify;height: 119px;">From Chittagong a 77
														kilometres (48 mi) road leads to Rangamati. The township is
														located on the western bank of the Kaptai lake. Rangamati is a
														holiday destination because of its landscape, scenic beauty,
														lake, indigenous groups (Chakma, Marma, Tripuri, Tanchangya
														Pangkhua etc.), flora and fauna, indigenous museum, hanging
														bridge etc.
													</h6>
												</div>
												<a href="Details.html" class="btn btn-primary mt-2 ml-6">View</a>

												<div class="row  pt-3 mt-3 team-social border-top">

													<ul class="col-md-12 d-flex justify-content-right social-icons">


														<li>
															<a href="#">
																<i class="fab fa-facebook-f"></i>
															</a>
														</li>
														<li class="mx-sm-3 mx-md-3">
															<a href="#">
																<i class="fab fa-twitter"></i>
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fab fa-google-plus-g"></i>
															</a>
														</li>

													</ul>
												</div>



											</div>
										</div>
									</div>
								</div> --}}

							</div>
						</div>
					</div>
				</div>

			</div>
		</section>


			<script src="/js46/jquery-2.2.3.min.js"></script>

		<script src="/js46/bootstrap.js"></script>


	</body>



</html>