<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Panel</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css37/admin.css" />
</head>

<body>
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="#">
            <span class="icon"></span>
            <span class="title">
              <div class="brand-name">
                <h2>Adventure Tour</h2>
                <h2>Guideline</h2>
              </div>

            </span>
          </a>
        </li>
       
        <li>
          <a href="/admin/user">
            <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
            <span class="title">Users</span>
          </a>
        </li>
        <li>
          <a href="/admin/contactMessage">
            <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
            <span class="title">Contact Message</span>
          </a>
        </li>
        <li>
          <a href="/admin/payment">
            <span class="icon"><i class="fas fa-money-bill-wave"></i></span>
            <span class="title">Payments</span>
          </a>
        </li><li>
          <a href="/admin/product">
            <span class="icon"><i class="fab fa-product-hunt"></i></span>
            <span class="title">Add Products</span>
          </a>
        </li>
        </li><li>
          <a href="/admin/productList">
            <span class="icon"><i class="fab fa-product-hunt"></i></span>
            <span class="title">Products List</span>
          </a>
        </li>
       
        
        <li>
          <a href="/">
            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
            <span class="title">Home</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="main">
      <div class="topbar">
        <div class="toggle" onclick="toggleMenu();"></div>
        {{!-- <div class="search">
          <label>
            <input type="text" placeholder="Search here" />
            <i class="fa fa-search"></i>
          </label>
        </div> --}}
        
      </div>
      {{#if paymentRender}}
      {{>adminPayment}}
      {{else if paymentViewRender}}
      {{>adminPaymentView payment=payment}}
      {{else if userRender}}
      {{>adminUser user = user}}
      {{else if userEditRender}}
      {{>adminUserEdit user = user}}
      {{else if contactRender}}
      {{>adminContact contact = contact}}
      {{else if contactMessageRender}}
      {{>adminContactMessage contact = contact}}
      {{else if productRender}}
      {{>adminProduct}}
      {{else if productListRender}}
      {{>adminProductList}}
      {{/if}}
    </div>
  </div>

  <script src="/js37/admin.js"></script>
</body>

</html>